

<div class="footer-main">
        <div class="container">
        <div class="footer-main-wrapper">
              <div class="row">

                      <div class="col-md-4 col-md-offset-1 sd380">
                          <div class="edugate-widget widget">
                              <div class="title-widget">RUOS</div>
                              <div class="content-widget">
                                  <p>Es el Registro Único de Organizaciones Sociales, a cargo de las municipalidades distritales y de la Municipalidad Metropolitana de Lima.</p>
                                  <p>Dentro de lo establecido en la Ordenanza 1762-2013-MML, se describen los requisitos y el procedimiento para el reconocimiento de las organizaciones sociales y sus representantes, así como los actos que se realicen con posterioridad a su inscripción.</p>

                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 sd380">
                          <div class="useful-link-widget widget">
                              <div class="title-widget">SECCIONES</div>
                              <div class="content-widget">
                                  <div class="useful-link-list">
                                      <div class="row">
                                          <div class="col-md-6 col-sm-6 col-xs-6">
                                              <ul class="list-unstyled">
                                                  <li><i class="fa fa-angle-right"></i><a href="{{ path_for('home') }}">Inicio </a></li>
                                                  <li><i class="fa fa-angle-right"></i><a href="{{ path_for('home') }}#requisitos">Requisitos</a></li>
                                                  <li><i class="fa fa-angle-right"></i><a href="{{ path_for('auth.signin') }}">Iniciar sesión</a></li>
                                                  <li><i class="fa fa-angle-right"></i><a href="{{ path_for('auth.signup') }}">Regístrate</a></li>
                                              </ul>
                                          </div>
                                          <div class="col-md-6 col-sm-6 col-xs-6">
                                              <ul class="list-unstyled">
                                                  <li><i class="fa fa-angle-right"></i><a href="{{ path_for('resoluciones') }}">Resoluciones</a></li>
                                                  <li><i class="fa fa-angle-right"></i><a href="{{ path_for('asesoria') }}">Asesorías</a></li>
                                                  <li><i class="fa fa-angle-right"></i><a href="{{ path_for('mapa') }}">Geolocalización</a></li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 sd380">
                          <div class="edugate-widget widget">
                              <div class="title-widget">CONTÁCTANOS</div>
                              <div class="content-widget">
                                  <div class="info-list">
                                      <ul class="list-unstyled">
                                          <li><i class="fa fa-envelope-o"></i> ruos@munlima.gob.pe</li>
                                          <li><i class="fa fa-phone"></i>632-1300 Anexo  1384</li>
                                          <li><i class="fa fa-map-marker"></i>Jr. Cailloma 137, Lima - Perú</li>
                                      </ul>
                                  </div>
                                  <div class="socials">
                                      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                      <a href="#" class="google"><i class="fa fa-instagram"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>

              </div>
          </div>
        </div>
    </div>
